.home {
	position:absolute;
border-style: none;
	/*left:10px;*/
	top:0px;
	width:130px;
	height: 140px;
	
}
.home:hover {
	cursor:pointer;
}
html {
  font-size: 70%;
}
body {
  background-color: rgba(228,228,228,1.00);
  font-size: 1.1em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}
header { 
  color: white;	

}
.container {
	box-shadow: -10px 10px 10px  rgba(0,0,0,.2), 10px 10px 10px rgba(0,0,0,.1);

	max-width:980px;
	margin:0 auto;
	margin-bottom: 20px;
}
.logo {
	background: url(../img/logo.gif) top left no-repeat;
	background-size:100px;
	background-position: 30% 60;
	margin-right: auto;
	align-self: center;
}



.logo p {	
text-shadow: 1px 1px black;
	border-bottom:medium solid white;
	margin-top: 10px;
	margin-bottom: 0px;	
	font-size: 1.5rem;  
	color:white;
	text-transform: uppercase;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";	
	text-align: center;
}
.logo p:last-of-type {
	margin-top:5px;
	margin-bottom:90px;
	border:none;
	font-size: 0.9rem;  	
}
.kontakt { 	

	align-self: flex-start;

	margin-top:20px;
	font-weight: 600;
	text-align: right;
	color:red;
	padding: 5px;	
	text-transform: uppercase;	
	font-size:1.1em;
}
.kontakt a:visited {
 color:red;}
.kontakt a {
 color:red;
text-decoration: none;}

.kontakt p {
	white-space: nowrap;
	background-image: url(../img/phone_banner.png);
	background-size: 45px 45px;
	background-position: 0px 6px;
	background-repeat: no-repeat;
	font-size:2.5em;
	margin:0;	
	text-shadow: 1px 1px black;
		padding-left: 45px;
	
}
.banner {
 /* background: url(logo.gif) 10px 10px no-repeat, url(background_law.jpeg) center center no-repeat ;	*/
	background: url(../img/background_law.jpeg) center center no-repeat ;
	/*background-size:150px, cover;*/
  background-size:cover;

    max-width:980px;
    margin: 0 auto;
	padding: 10px 0;
	padding: 0 20px;
	display: flex;
	align-items: flex-end;	
	align-content:space-between;
	justify-content: flex-end;
	position: relative;
}
.top-menu  {
  padding: 8px 2%;
  color: white;
  text-align: center;
  font-weight: 600;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 4px 4px 0 0;
  background-color: rgba(0,0,0,.6);
  transition-property: background-color,color;
  transition-duration: 0.5s;
}
.top-menu:hover, .banner a.highlight {
  background-color: white;
  color: black;
}
main {
	position: relative;
	 background-color: white;
	justify-content: space-between;
	max-width: 980px;
	margin:0 auto;
	min-height: 600px;
	padding-bottom: 20px;
	
}
main >* {


padding: 10px 10px 0 10px;
}

aside {
	width:250px;
	float:left;
	
	
}
aside *{
list-style-type: none;
padding: 0;
margin: 0;
text-decoration: none;
	color: black;
}
aside a {

	color: #003A88;
	text-shadow: none;
}
aside a:hover {
	text-decoration: underline;
}
aside p, nav p {	
	text-transform: uppercase;
	font-weight: 600;
	margin: 15px 0 5px 0;
}
nav a { 
	white-space: nowrap;
	display: block;
	text-transform: uppercase; 
	font-weight: 600;
	border-bottom: 1px dotted #003A88;
	font-size:0.9em;	

	
	padding: 5px 15px;

	text-decoration: none;
	color: #003A88;	
	height: 2.25em;
	line-height: 2.25em;
	transition-property: background-color,color;
  transition-duration: 0.3s;
}

nav a:hover {
	text-decoration: none;
	background-color: gray;
	color: white;	
	
}

.news ul li  {
list-style-type: circle;
	margin-left:10px;
}
/*
.news ul li:after  {
list-style-type: none;
font-weight: 600;

}
*/



.voprosy ul li  {
list-style-type: circle;
	margin-left:10px;
}
.voprosy ul li:last-of-type  {
list-style-type: none;
font-weight: 600;

}
article {
	margin-left: 260px;
	margin-right: 10px;
}
.landing {
	clear:right;
	margin-left: 220px;
}
/*.landing p {
	margin-bottom:30px;
	text-transform: uppercase;
	font-size: 1.2em;
	text-align: center;
	font-weight:bold;
}*/
.landing-top {display: flex;
	flex-flow: row wrap;
}
.landing-text {
flex: 3 1 250px;
	margin:5px;
}
.landing-text img {
	float:left;
	margin-right: 10px;	
box-shadow: 4px 4px gray;
}

.sodeystvie p
{
		margin-bottom:30px;
	text-transform: uppercase;
	font-size: 1.2em;
	text-align: center;
	font-weight:bold;
}
.sodeystvie {
	padding:0 30px;
	text-align: justify;
	/*rgba(181,200,204,1.00);*/
}
.sodeystvie figure {
display: inline-block;
vertical-align: top;
width: 100px;
margin:0;
}
.sodeystvie figcaption {
text-align: center;
	font-size:0.7em;
}
.sodeystvie:after {
    display:inline-block;
    width:100%;
    content:'';
}
.vygody p
{
		margin-bottom:30px;
	text-transform: uppercase;
	font-size: 1.2em;
	text-align: center;
	font-weight:bold;
}
.vygody {
	
	
	padding:0;	
	text-align: justify;
	
}
.vygody figure {
display: inline-block;
vertical-align: top;
width: 120px;

	margin:0;
	text-align: center;
}
.vygody figcaption {
text-align: center;
	
}
.vygody figcaption::first-line {	
	font-size:1.1em;
	font-weight: 600;

	
}
.vygody:after {
    display:inline-block;
    width:100%;
    content:'';
}



footer {
	height:100px;
	background: black;
	color:white;
	padding:20px;	
	
	
}
footer p {
	margin-left:10px;
	width:50%;
	float:left;
}

@media (max-width: 768px) {	
	.banner {
		padding-left:0px;
	}
	.home {
	position:absolute;
	left:40px;
	top:0px;
	width:120px;
	height: 140px;
}
.logo {
	background-size:100px;
	background-position: center 60px;	
}
.logo p {	
	
	border-bottom:thin solid white;
	
	margin-top: 0px;	
	font-size: 1.5rem;  	
}
.logo p:last-of-type {
	margin-top: 3px;	
	font-size: 0.9rem;  	
}


.kontakt p {
	background-position: 0px 3px;
	font-size:2em;
	background-size:35px 35px;
	padding-left:35px;


}
.banner {
		height:150px;
	}
.banner a {
		font-size:0.9em;
		padding: 3px 2%;
	}
nav a {
		font-size:90%;
		font-weight: 600;
}
.form-toggle {
top:-5px;
 right: 10px;
	background-color: white;
	padding:0;
}
.form-toggle a{
	font-size: 1em;
}
aside{
	width:200px;
	}
article {
	margin-left:210px;
	}
.sodeystvie figure {
	width: 90px;
}
.sodeystvie {
	padding:0 10px;
	
}
	

}
@media (max-width:500px){	
.home {
	position:absolute;
	left:20px;
	top:5px;
	width:110px;
	height: 110px;
}
.container{
	margin:0;	
	box-shadow: none;
	padding:0;
	}
.banner {
	background: url(../img/background_law_small.jpg) no-repeat;
	background-size:cover;
	background-position: 0;
	flex-flow: row nowrap;	
			
	height: 120px;
	padding:0;	
	}
.banner a {
	font-size:0.7em;
	font-weight: 600;
	}
.logo {
	
	
	background-position: center 55px;
	background-size: 70%;
	    
    margin-left: -10px;
	}
.logo p {	
	
	}	
.logo p:first-of-type {
margin-top:10px;
	font-weight: 600;
font-size:1.2em;			
}

.kontakt {
		margin-top:0px;
	font-size: 1em;
	
	}

.kontakt p{
	background-position: 0px 1px;
	background-size:25px 25px;
	padding-left:25px;
	font-size: 2em;
	text-shadow: 1px 1px black;
	}
aside {
	padding-top: 20px;
	float:none;
	width:auto;
}	

nav { 
	float:left;
	width:170px;
	margin-right: 10px;

	}	
	nav a {
		padding:0 0 0 0;
	}
.news ul li  {
list-style-type: none;
	
}
article {
	clear:both;
	padding:0 10px;
	margin: 0;
}
.landing {
	clear:both;
	margin:0;
	padding:0;
	}
.landing p {
	margin-bottom:0;
	font-size: 1.1em;
}

.sodeystvie {
		text-align: center;		
	}
.sodeystvie figure {
margin-top:20px;
padding-right: 10px;
	width: 120px;
text-align: center;
}
.sodeystvie figcaption {	
	font-size:1em;
}
.vygody {
		text-align: center;		
	}
.vygody figure {
	margin-top:20px;
	padding-right: 10px;
	width: 130px;
	text-align: center;
}


footer {
	height:100px;
	background: black;
	color:white;
	padding:0px;	
}
}

/*-------form----------------------*/
/*@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);*/

.form-toggle {
	position:absolute;
 right: 10px;
	z-index: 1;
}
.form-toggle a{
	float:right;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	color:black;
	display:block;
	border:solid 1px black;
	padding:2px;
}
.form-toggle a:hover{
	background-color: red;
	color:white;
	
}
.form-div {
	display:none;
	background-color:rgba(30,13,2,1.00);
	color:white;
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	padding-bottom:25px;	
	width:300px;
	position:absolute;
	right:10px;
	top:30px;
	margin:10 10 0 10;
	z-index: 1;
	font-size: 1.2em;
}

 /*
#form-div p {
	margin-bottom:5px;}*/
.feedback-input {
	color:#373737;
	font-family: Helvetica, Arial, sans-serif;
  	font-weight:500;
	font-size: 14px;
	line-height: 16px;
	background-color: white;
	padding: 10px 10px 10px 45px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 3px solid rgba(0,0,0,0);
	margin-bottom: 5px;
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}
/*
.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}*/

/* Icons ---------------------------------- */
#name{
background-image: url(../img/name.svg);
	background-size: 20px 20px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}


#email{
	background-image: url(../img/email.svg);
	background-size: 20px 20px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
#phone{
	background-image: url(../img/phone.png);
	background-size: 20px 20px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
/*
#comment{
	background-image: url(../img/comment.svg);
	background-size: 20px 20px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
*/
#msg {
	background-image: url(../img/comment.svg);
	background-size: 20px 20px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;	
	width: 100%;
	border: #fbfbfb solid 2px;
	cursor:pointer;
	background-color: #E83838;
	color:#362B2B;
	font-size:18px;
	padding-top:12px;
	
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;  
  	font-weight:500;
	float:left;
	margin-top:10px;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color:red;
}
	/*
.submit:hover {
	color: #3498db;
}*/
	
.ease {
	width: 0px;
	height: 50px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}
/*
.submit:hover .ease{
  width:100%;
  background-color:white;
}
*/
@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}
form label.error {
	display:block;
	color:red;
}


/*----таблица-----*/
.inventory {
  font-family:  Arial, Helvetica, sans-serif;
  width: 100%;
  margin-top: 5px;
  border-collapse: collapse;
}
.inventory caption {
  text-align: right;
  font-size: .85em;
  margin-bottom: 10px;
}
.inventory td, .inventory th {
  font-size: 1em;
  border: 1px solid #DDB575;
  padding: 3px 7px 2px 7px;
}
.inventory th {
  text-transform:uppercase;
	font-size: 0.9em;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 4px;
  /*background: rgb(229,76,16);
  background: linear-gradient(to bottom, rgb(229,76,16), rgb(173,54,8));*/
  color: black;
}
.inventory tr:nth-of-type(even){
  background-color: rgba(255,255,255,.1);
}
.inventory tr:nth-of-type(odd){
  background-color: rgba(229,76,16,.1);
}
/*---------------galery-------------------*/
.row > .column {
  padding: 0 15px;
}

/* Create four equal columns that floats next to eachother */

.column {
  float: left;
  width: 20%;

}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}



/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		
}
