.home {
	position:absolute;
border-style: none;
	//left:10px;
	top:0px;
	width:130px;
	height: 140px;
	
}
.home:hover {
	cursor:pointer;
}
html {
  font-size: 70%;
}
body {
  background-color: rgba(228,228,228,1.00);
  font-size: 1.1em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}
header { 
  color: white;	

}
.container {
	box-shadow: -10px 10px 10px  rgba(0,0,0,.2), 10px 10px 10px rgba(0,0,0,.1);

	max-width:980px;
	margin:0 auto;
	margin-bottom: 20px;
}
.logo {
	background: url(../img/logo.gif) top left no-repeat;
	background-size:100px;
	background-position: 30% 60;
	margin-right: auto;
	align-self: center;
}



.logo p {	
text-shadow: 1px 1px black;
	border-bottom:medium solid white;
	margin-top: 10px;
	margin-bottom: 0px;	
	font-size: 1.5rem;  
	color:white;
	text-transform: uppercase;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";	
	text-align: center;
}
.logo p:last-of-type {
	margin-top:5px;
	margin-bottom:90px;
	border:none;
	font-size: 0.9rem;  	
}
.kontakt { 	

	align-self: flex-start;

	margin-top:20px;
	font-weight: 600;
	text-align: right;
	color:red;
	padding: 5px;	
	text-transform: uppercase;	
	font-size:1.1em;
}
.kontakt a:visited {
 color:red;}
.kontakt a {
 color:red;
text-decoration: none;}

.kontakt p {
	white-space: nowrap;
	background-image: url(../img/phone_banner.png);
	background-size: 60px 60px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	font-size:2.5em;
	margin:0;	
	text-shadow: 1px 1px black;
		padding-left: 60px;
}
.banner {
 /* background: url(logo.gif) 10px 10px no-repeat, url(background_law.jpeg) center center no-repeat ;	*/
	background: url(../img/background_law.jpeg) center center no-repeat ;
	/*background-size:150px, cover;*/
  background-size:cover;

    max-width:980px;
    margin: 0 auto;
	padding: 10px 0;
	padding: 0 20px;
	display: flex;
	align-items: flex-end;	
	align-content:space-between;
	justify-content: flex-end;
	position: relative;
}
.top-menu  {
  padding: 8px 2%;
  color: white;
  text-align: center;
  font-weight: 600;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 4px 4px 0 0;
  background-color: rgba(0,0,0,.6);
  transition-property: background-color,color;
  transition-duration: 0.5s;
}
.top-menu:hover, .banner a.highlight {
  background-color: white;
  color: black;
}
main {
	 background-color: white;
	justify-content: space-between;
	max-width: 980px;
	margin:0 auto;
	display: flex;
	flex-flow:row wrap;
	
}
main >* {
margin:10px;

padding: 10px 10px 0 10px;
}
aside {
	flex: 0 0 200px;
	
}
aside *{
list-style-type: none;
padding: 0;
margin: 0;
text-decoration: none;
	color: black;
}
aside a {

	color: #003A88;
	text-shadow: none;
}
aside a:hover {
	text-decoration: underline;
}
aside p, nav p {	
	text-transform: uppercase;
	font-weight: 600;
	margin: 15px 0 5px 0;
}
nav a { 
	display: block;
	text-transform: uppercase; 
	font-weight: 600;
	border-bottom: 1px dotted #003A88;
	font-size:0.9em;	

	
	padding: 5px 15px;

	text-decoration: none;
	color: #003A88;	
	height: 2.25em;
	line-height: 2.25em;
	transition-property: background-color,color;
  transition-duration: 0.3s;
}

nav a:hover {
	text-decoration: none;
	background-color: gray;
	color: white;	
	
}

.news ul li  {
list-style-type: circle;
	margin-left:10px;
}
/*
.news ul li:after  {
list-style-type: none;
font-weight: 600;

}
*/
.voprosy ul li  {
list-style-type: circle;
	margin-left:10px;
}
.voprosy ul li:last-of-type  {
list-style-type: none;
font-weight: 600;

}
.landing {
	flex:2 1 450px;
	margin-left: 0px;
}
/*.landing p {
	margin-bottom:30px;
	text-transform: uppercase;
	font-size: 1.2em;
	text-align: center;
	font-weight:bold;
}*/
.landing-top {display: flex;
	flex-flow: row wrap;
}
.landing-text {
flex: 3 1 250px;
	margin:5px;
}
.landing-text img {
	float:left;
	margin-right: 10px;	
box-shadow: 4px 4px gray;
}
.sodeystvie p
{
		margin-bottom:30px;
	text-transform: uppercase;
	font-size: 1.2em;
	text-align: center;
	font-weight:bold;
}
.sodeystvie {
	padding:0 30px;
	text-align: justify;
	rgba(181,200,204,1.00);
}
.sodeystvie figure {
display: inline-block;
vertical-align: top;
width: 100px;
margin:0;
}
.sodeystvie figcaption {
text-align: center;
	font-size:0.7em;
}
.sodeystvie:after {
    display:inline-block;
    width:100%;
    content:'';
}
.vygody p
{
		margin-bottom:30px;
	text-transform: uppercase;
	font-size: 1.2em;
	text-align: center;
	font-weight:bold;
}
.vygody {
	
	
	padding:0;	
	text-align: justify;
	
}
.vygody figure {
display: inline-block;
vertical-align: top;
width: 120px;

	margin:0;
	text-align: center;
}
.vygody figcaption {
text-align: center;
	
}
.vygody figcaption::first-line {	
	font-size:1.1em;
	font-weight: 600;

	
}
.vygody:after {
    display:inline-block;
    width:100%;
    content:'';
}


article {
	border-top:2px ridge gray;
	flex: 2 1 800px;
	order:2;
	}
footer {
	height:100px;
	background: black;
	color:white;
	padding:20px;	
}
footer p {
	margin-left:10px;
	width:50%;
	float:left;
}

@media (max-width: 768px) {	
	.banner {
		padding-left:0px;
	}
	.home {
	position:absolute;
	left:40px;
	top:0px;
	width:120px;
	height: 140px;
}
.logo {
	background-size:100px;
	background-position: center 60px;	
}
.logo p {	
	
	border-bottom:thin solid white;
	
	margin-top: 0px;	
	font-size: 1.5rem;  	
}
.logo p:last-of-type {
	margin-top: 3px;	
	font-size: 0.9rem;  	
}

.kontakt p {
	font-size:2em;
		background-size:45px 45px;
	padding-left:45px;


}
.banner {
		height:150px;
	}
.banner a {
		font-size:0.9em;
		padding: 3px 2%;
	}
nav a {
		font-size:90%;
		font-weight: 600;
}
.landing {
		order:-1; 
		flex:1 1 600px;
	}
.sodeystvie figure {
	width: 90px;
}
.sodeystvie {
	padding:0 10px;
	
}
	
aside {	
	flex:1 1 170px;
	margin-right: 0px;
	padding-right:0px;
}
article {
	margin-top:0;
	padding-top:0;
	flex:3 1 250px;
	}
}
@media (max-width:500px){	
.home {
	position:absolute;
	left:20px;
	top:5px;
	width:110px;
	height: 110px;
}
.container{
	margin:0;	
	box-shadow: none;
	padding:0;
	}
.banner {
	background: url(../img/background_law_small.jpg) no-repeat;
	background-size:cover;
	background-position: 40%;
	flex-flow: row nowrap;	
			
	height: 120px;
	padding:0;	
	}
.banner a {
	font-size:0.7em;
	font-weight: 600;
	}
.logo {
	
	
	background-position: center 60px;
	background-size: 60%;
	    
    margin-left: -10px;
	}
.logo p {	
	
	}	
.logo p:first-of-type {
margin-top:10px;
	font-weight: 600;
font-size:1.2em;			
}

.kontakt {
		margin-top:40px;
	font-size: 1em;
	
	}
.kontakt p{
	background-size:25px 25px;
	padding-left:25px;
	font-size: 1.7em;
	
	}

.landing {
	margin:0;
	padding:0;
	}
.landing p {
	margin-bottom:0;
	font-size: 1.1em;
}
	.form-div {
		margin:5px 5px;
		
	}
.sodeystvie {
		text-align: center;		
	}
.sodeystvie figure {
margin-top:20px;
padding-right: 10px;
	width: 120px;
text-align: center;
}
.sodeystvie figcaption {	
	font-size:1em;
}
.vygody {
		text-align: center;		
	}
.vygody figure {
	margin-top:20px;
	padding-right: 10px;
	width: 130px;
	text-align: center;
}


nav { 
		margin-right: 20px;
		text-align: center;		
	}	
aside p {
		text-align: center;
}	

article {
	padding:0;
}
footer {
	height:100px;
	background: black;
	color:white;
	padding:0px;	
}
}

/*-------form----------------------*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


.form-div {
	background-color:rgba(168,93,10,0.30);
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	padding-bottom:25px;	
	flex: 1 1 200px;		
}
 /*
#form-div p {
	margin-bottom:5px;}*/
.feedback-input {
	color:#373737;
	font-family: Helvetica, Arial, sans-serif;
  	font-weight:500;
	font-size: 14px;
	line-height: 16px;
	background-color: white;
	padding: 10px 10px 10px 45px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 3px solid rgba(0,0,0,0);
	margin-bottom: 5px;
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}
/*
.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}*/

/* Icons ---------------------------------- */
#name{
background-image: url(../img/name.svg);
	background-size: 20px 20px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}


#email{
	background-image: url(../img/email.svg);
	background-size: 20px 20px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
#phone{
	background-image: url(../img/phone.png);
	background-size: 20px 20px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
/*
#comment{
	background-image: url(../img/comment.svg);
	background-size: 20px 20px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
*/
#msg {
	background-image: url(../img/comment.svg);
	background-size: 20px 20px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;	
	width: 100%;
	border: #fbfbfb solid 2px;
	cursor:pointer;
	background-color: #E83838;
	color:#362B2B;
	font-size:18px;
	padding-top:12px;
	
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;  
  	font-weight:500;
	float:left;
	margin-top:10px;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color:red;
}
	/*
.submit:hover {
	color: #3498db;
}*/
	
.ease {
	width: 0px;
	height: 50px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}
/*
.submit:hover .ease{
  width:100%;
  background-color:white;
}
*/
@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}
form label.error {
	display:block;
	color:red;
}


/*----таблица-----*/
.inventory {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  margin-top: 25px;
  border-collapse: collapse;
}
.inventory caption {
  text-align: right;
  font-size: .85em;
  margin-bottom: 10px;
}
.inventory td, .inventory th {
  font-size: 1.1em;
  border: 1px solid #DDB575;
  padding: 3px 7px 2px 7px;
}
.inventory th {
  text-transform:uppercase;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 4px;
  //background: rgb(229,76,16);
  //background: linear-gradient(to bottom, rgb(229,76,16), rgb(173,54,8));
  color: black;
}
.inventory tr:nth-of-type(even){
  background-color: rgba(255,255,255,.1);
}
.inventory tr:nth-of-type(odd){
  background-color: rgba(229,76,16,.1);
}